<!DOCTYPE HTML>
<html>
    {% load static %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'home/style.css' %}">
        <title>Profil James</title>
    </head>

    <body>
        <div class="row">
            <div class="column_pics">
                <img src="{% static 'home/1.jpeg' %}"/>
            </div>

            <div class="column">
                <hr size="3" noshade="" />
                <h1>James Frederix Rolianto</h1>
                <h3>1906398553</h3>
                <h3>2019 Computer Science Student, University of Indonesia</h3>
                <hr size="3" noshade="" />
                <h4>I want to be a future Data Scientist</h4>
                <hr size="3" noshade="" />

                <div>
                    <table>
                        <tr>
                            <td>My hobby : </td>
                            <td>- Watch a movie</td>
                        </tr>

                        <tr>
                            <td></td>
                            <td>- Riding</td>
                        </tr>

                        <tr>
                            <td></td>
                        </tr>

                        <tr>
                            <td></td>
                        </tr>

                        <tr>
                            <td>Education : </td>
                            <td>- SD Kwitang VIII PSKD</td>
                        </tr>

                        <tr>
                            <td></td>
                            <td>- SMP Negeri 13 Depok</td>
                        </tr>
                        
                        <tr>
                            <td></td>
                            <td>- SMA Negeri 9 Depok</td>
                        </tr>
                        
                        <tr>
                            <td></td>
                        </tr>

                        <tr>
                            <td></td>
                        </tr>

                        <tr>
                            <td>Experience : </td>
                            <td>- Badan Eksekutif Mahasiswa Universitas Indonesia (2020-now)</td>
                        </tr>

                        <tr>
                            <td></td>
                            <td>- Development Student Club Universitas Indonesia member (2019-now)</td>
                        </tr>

                        <tr>
                            <td></td>
                        </tr>

                        <tr>
                            <td></td>
                        </tr>

                        <tr>
                            <td>My Contact : </td>
                            <td><a href="https://www.instagram.com/james_frederix/">Instagram</a></td>
                        </tr>

                        <tr>
                            <td></td>
                            <td><a href="https://wa.me/+6281294503420?text=Hi,%20namaku%20[Nama],%20salam%20kenal%20ya!">WhatsApp</a></td>
                        </tr>

                        <tr>
                            <td></td>
                            <td><a href="http://line.me/ti/p/~shinoyajames">Line</a></td>
                        </tr>

                        <tr>
                            <td></td>
                            <td><a href="https://www.linkedin.com/in/james-frederix-rolianto-bb1100193/?originalSubdomain=id">LinkedIn</a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        
    </body>
</html>